html {
    font-size: 1.2em;
}

body {
    margin: 8px auto;
    background: #0a1921;
}

h3 {
    text-decoration: underline;
}

.header {
    background-color: #03080b;
    position: fixed;
    width: 100%;
    top:0px;
    height: 1.5em;
    color: white;
    display: flex;
    font-weight: bold;
    font-size: 1.5em;

    & .logo {
        
        float: left;
        
        border-bottom: 5px solid #256ab1;

        &:hover {
            filter: brightness(0.7);
        }
    }

    & .date {
        margin: 0 auto;
        transform: translate(-50%, 0%)
    }
}

.nav-bar {
    background-color: #2e3436;
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 3em;
    border: 3px solid #3a3f40;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;

    & a {
        color: white;

        &:hover {
            filter: brightness(0.7);
        }

        
    }

    & .selected {
        filter:brightness(0.5);
    }


    & ul {
        list-style-type: none;
        margin: 0 0.3em;
        padding: 0;
        line-height: 2;
    }
}

main {
    padding-top: 2em;
    width: 760px;
    margin: 0 auto;
    color: white;

    line-height: 1.4;
}

img {
    margin: 0.5em;
}

.right {
    float: right;
}


.test {
    height: 100%;
    width: 100%;
}
